$day-size: 100px;
$gap: 1px;
$padding: 10px;
$border: 1px solid #000;
$bg-color: #eee;
$hover-color: #ffbfcb;
$font-size: 30px;
$columns: 7;
$calendar-width: $columns * ($day-size + $gap) - $gap + 2 * $padding;
$weekdays: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);

// CENTER PAGE
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

// CALENDAR BLOCK
.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  width: $calendar-width;
  padding: $padding;
  box-sizing: border-box;

  &__day {
    width: $day-size;
    height: $day-size;
    background-color: $bg-color;
    border: $border;
    box-sizing: border-box;
    position: relative;
    transition:
      transform 0.5s,
      background-color 0.5s;

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
      transform: translateY(-20px);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $font-size;
    }
  }

  // NUMBERS 1..31
  @for $i from 1 through 31 {
    &__day:nth-child(#{$i})::before {
      content: '#{$i}';
    }
  }

  // START-DAY MODIFIERS
  @each $day, $index in $weekdays {
    &--start-day-#{$day} &__day:first-child {
      margin-left: ($day-size + $gap) * $index;
    }
  }

  // MONTH-LENGTH MODIFIERS
  @for $i from 28 through 31 {
    &--month-length-#{$i} &__day:nth-child(n + #{$i + 1}) {
      display: none;
    }
  }
}
